<a href="https://colab.research.google.com/github/habib-N19/Numpy-Pandas-AI-ML-Assignment/blob/main/Habibur_Nabi_Arafat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Course Email: habiburnabiarafat@gmail.com**

In [ ]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Ans to the Q1:
Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

In [ ]:
np_ages_arr = np.array(ages)
print(np_ages_arr.dtype)
print(np_ages_arr.shape)
print(np_ages_arr.ndim)
print(np_ages_arr.size)

np_salaries_arr=np.array(salaries)
print(np_salaries_arr.dtype)
print(np_salaries_arr.shape)
print(np_salaries_arr.ndim)
print(np_salaries_arr.size)

int64
(10,)
1
10
int64
(10,)
1
10

### Ans to the Q2:
Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [ ]:
max_salary=salaries.max()
print(f'Max salary is: {max_salary}')
min_salary = salaries.min()
print(f'Min salary is: {min_salary}')
avg_salary=salaries.mean()
print(f'Average salary is: {avg_salary}')

# avg age
avg_age=ages.mean()
print(f'Average age is:- {avg_age}')

Max salary is: 89735
Min salary is: 30769
Average salary is: 57446.9
Average age is:- 38.5

## Ans to the Q3
From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [ ]:
older_persons= ages[ages > 30]
print(older_persons)
#count older than 30 ages persons amount
count_older_30=np.count_nonzero(ages > 30)
print(count_older_30)

[56 46 32 38 56 36 40]
7

### Ans to the Q4:
Create a new NumPy array that increases every employeeâ€™s age by 5 years (without modifying the original array). Print the new updated ages array.

In [ ]:
new_increased_arr = ages + 5
print(new_increased_arr)

[61 51 37 30 43 61 41 45 33 33]

## Ans to the Q5:
Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [ ]:
sum_of_all_salaries = np.sum(salaries)
print(f"Total salary expense: {sum_of_all_salaries}")
min_salary=np.min(salaries)
max_salary=np.max(salaries)
diff=max_salary - min_salary
print(f'The difference betwen maximum salary and minimum salary is : {diff}', )

Total salary expense: 574469
The difference betwen maximum salary and minimum salary is : 58966

### Ans to the Q6
 Load the employees.csv file into a Pandas DataFrame. Display the first 5 rows, and check basic info using info() and summary statistics using describe().

In [ ]:
employees = pd.read_csv('employees.csv')
# print(employees)
first_5_row = employees.head(5)
print(first_5_row)

#check basic info
print('Basic Info')
employees.info()

print('summary')
employees.describe()

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
Basic Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
summary

             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Ans To Q7:
 Display only the id, age, and salary columns. Then show the last 3 rows using tail().

In [ ]:
id_age_salary_df= employees.loc[:, ['id', 'age', 'salary'] ]
print(id_age_salary_df)

last_3_row=employees.tail(3)
print(f'last 3 row:\n{last_3_row}')

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311
last 3 row:
   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

### Ans To the Q8:
Filter the DataFrame to show only employees who work in the IT department. Print the result and show the total number of IT employees.

In [ ]:
IT=employees.loc[employees['dept'] =='IT']
print(IT)

print('total no of IT employees',len(IT))

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
total no of IT employees 3

### Ans to Q9:
Sort the DataFrame by salary in descending order and display the top 3 highest-paid employees along with their department and age.

In [ ]:
desc_salaries=employees.sort_values(['salary'], ascending=False)
print(desc_salaries)
# desc_salaries.head(3)
list_df = desc_salaries[['age', 'salary', 'dept']].head(3)
print(list_df)

   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR
1   2   46   74131       IT
3   4   25   71090       IT
2   3   32   46023  Finance
9  10   28   35311       HR
8   9   28   32433    Sales
4   5   38   31685       HR
5   6   56   30769    Sales
   age  salary     dept
6   36   89735  Finance
7   40   86101       IT
0   56   77191       HR

## Ans to Q10:
 Replace all salary values greater than 80000 with 80000 using loc. Then calculate and print the new average salary of all employees after replacement.

In [ ]:
changed_salaries = employees.copy()
# print(employees)
changed_salaries.loc[changed_salaries['salary'] > 80000, 'salary'] = 80000

print(changed_salaries)

mean_salary=changed_salaries['salary'].mean()
print(mean_salary)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR
55863.3